nav {
    background-color: #F2ABEF;
    transition-duration: 500ms;
}

.container {
    
    padding-top: 1rem;
}

.container.row {
    min-width: 500px;
    justify-content: center;
}

#liveToast .toast-body {
    opacity: 100% !important;
    background-color: white;
}

.prueba {
    background-color: blueviolet;
}

.lang img {
    max-width: 50%;
}

.lang img:hover {
    max-width: 48%;
    transition-duration: 500ms;
    cursor: pointer;
}