nav {
    background-color: #F2ABEF;
    transition-duration: 500ms;
}

.container {
    
    padding-top: 1rem;
}

.container.row {
    min-width: 500px;
}

.prueba {
    background-color: blueviolet;
}

.lang img {
    max-width: 50%;
}

.lang img:hover {
    max-width: 48%;
    transition-duration: 500ms;
    cursor: pointer;
}